[package]
name = "file_system"
version = "0.1.0"
edition = "2021"
default-run = "file_system"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.3"
byteorder = "1.4.3"